/* estilo geral */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #eeeeee;
}

section{
    padding: 28px 8%;
}

header{
    width: 100%;
    padding: 0 8%;
    background-color: #550C0A;
    height: 4.5rem;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #550C0A;
    border-radius: .5rem;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #fff;
    transition: .3s;
    font-size: 13px;
}

.btn-default:hover{
    background-color: #fff;
    color: #550C0A;
}

/* menu desktop */
#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-logo{
    width: 9%;
    position: relative;
    top: 1rem;
    padding-top: 0;
    margin-top: 0;
    border-radius: 50%;
    /* border: 5px solid #550C0A; */
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);;
    z-index: 3;
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    text-transform: uppercase;
}

.nav-item{
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    transition: .2s;
}

.nav-item:hover a{
    color: #fff;
    font-weight: 600;
}

/* fim menu desktop  */

/* menu mobile */
.interface-mobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-mobile img{
    width: 30%;
}

.btn-open-menu i{
    color: #ece1e0;
    font-size: 35px;

}

.menu-mobile{
    background-color: #550C0A;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu{
    width: 65%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-close{
    padding: 1.25rem 8%;
}

.menu-mobile .btn-close i{
    color: #ece1e0;
    font-size: 40px;
}

.menu-mobile nav ul{
    text-align: right;
    list-style-type: none;
    padding: 0;
}

.menu-mobile nav ul li a{
    color: #ece1e0;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    padding: 1.5rem 8%; 
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #8d5f5d;
}

.btn-requested-mobile{
    display: flex;
    align-items: center;
    background-color: #ece1e0 ;
    border: none;
    border-radius: 20px;
    padding: .8rem .5rem;
    font-size: 20px;
    gap: .5rem;
    color: #550C0A;
    justify-self: end;
    margin-right: .5rem;
    margin-top: 1rem;
}

.btn-requested-mobile a{
    text-decoration: none;
    color: #550C0A;
}

.btn-requested-mobile button{
    text-decoration: none;
    background-color: green;
}

.overlay-menu{
    background-color: #00000091;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}
/* fim menu mobile */

/* home */

#home{
    display: flex;
    min-height: 100vh;
    margin-top: 0;

    position: relative;

    background-color: #ece1e0;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 10%;
}

#cta .title{
    font-size: 4.8rem;
    color: #8d5f5d;
    line-height: 5rem;
}

#cta .title span{
    color: #550C0A;
    font-weight: bold;
}

#cta .description{
    font-size: 1.2rem;
    text-align: justify;
}

#cta-buttons{
    display: flex;
    gap: 24px;
}

#cta-buttons a{
    text-decoration: none;
    color: #fff;
}

#cta-buttons  .show-menu{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #550C0A;
    border-radius: .5rem;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #fff;
    transition: .3s;
    font-size: 13px;
}

#cta-buttons  .show-menu:hover{
    color: #550C0A;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

#phone-button{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem .875rem;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
    background-color: #fff;
    transition: .3s;
}

#phone-button button{
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #550C0A;
    border-radius: .5rem;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    font-size: 18px;
}

#phone-button p{
    color: #550C0A;
    font-weight: bold;
    transition: .3s;
}

#phone-button:hover{
    background-color: #550C0A;
}

#phone-button:hover p{
    color: #fff;
}

.social-media-buttons{
    display: flex;
    gap: 1.1rem;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.813rem;
    height: 2.5rem;
    background-color: #fff;
    font-size: 1.3rem;
    border-radius: 10px;
    text-decoration: none;
    color: #550C0A;
    font-weight: bold;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: .3s;
} 

.social-media-buttons a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    background-color: #550C0A;
    color: #fff;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 60%;
    z-index: 2;
    margin-top: 6%;
}

#banner img{
    height: 80%;
    width: fit-content;
    border-radius: 10px;
    border: 2px dashed #ffffff60;
}

.shape{
    background-color: #550C0A;
    width: 50%;
    height: 85%;
    position: absolute;
    border-radius: 40% 30% 1% 20%;
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: 5%;
}
/* fim home */

/* título das seções */
.section-title{
    color: #550C0A;
    font-size: 1.5rem;
}

.section-subtitle{
    color: #8d5f5d;
    font-size: 2.1rem;
}

.section-subtitle-other{
    color: #8d5f5d;
    font-size: 2.1rem;
    margin-top: 3rem;
}
/* fim título das seções */

/* cardápio */
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;

    flex-wrap: wrap;
    justify-content: center;

}

.dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 1.125rem;
    padding: 1.25rem;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

    width: calc(30% - 1.125rem);
}



.dish-heart{
    position: absolute;
    background-color: #550C0A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #ece1e0;
    width: 4.375rem;
    height: 4.375rem;
    right: -0.625rem;
    top: -0.625rem;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-description{
    color: #434343;
    text-align: center;
}

.dish-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.dish-price h4{
    border-radius: 10px;
    padding: .3rem .5rem;
    background-color: #ece1e0;
    color: #550C0A;
}

.dish-price button{
    display: flex;
    flex-direction: row-reverse;
    gap: .5rem;
    font-size: 1rem;
    align-items: center;
}

.dish-price p{
    font-size: .8rem;
}

.dish-image{
    width: 150px;
}
/* fim cardápio */

/* avaliações */
#testimonials{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#testimonial-chef{
    width: 500px;
    height: auto;
}

#testimonials .section-subtitle{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#testimonials-content{
    width: 50%;
}

#feedbacks{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.feedback{
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    background-color: #fff;
    padding: .75rem;
    border-radius: .75rem;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.feedback-content p span{
    color: #e9a209;
}

#testimonials button{
    display: flex;
    justify-self: end;
}
/* fim avaliações */

/* footer */

footer{
    background-color: #550C0A;
}

footer img{
    margin-top: -1rem;
}

#footer-items{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 1.5rem 8%;
    align-items: center;
}

#footer-items a{
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

#footer-items a:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

#copyright{
    color: #fff;
    font-weight: 500;
}

/* fim footer */

/* reponsivo */

@media screen and (max-width: 1380px) {

    #nav-list,
    #navbar .btn-default{
        display: none;
    }

    #home{
        min-height: 100%;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }

    #cta{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #cta .title{
        font-size: 3.5rem;
        line-height: 3.3rem;
    }

    #cta .description{
        font-size: 1.1rem;
        text-align: justify;
    }

    .social-media-buttons{
        gap: 1.3rem;
    }

    #dishes{
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish{
        width: calc(50% - 1.125rem);
    }

    #menu .section-title{
        margin-bottom: .5rem;
    }

    #menu .section-subtitle{
        text-align: center;
        line-height: 2.2rem;
    }

    #testimonials{
        min-height: calc(100vh - 91px);
        flex-direction: column;
    }

    #testimonials .section-subtitle{
        text-align: center;
        font-size: 2.1rem;
        line-height: 2.3rem;
    }

    #testimonial-chef{
        display: none;
    }

    #testimonials-content{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer{
        margin-top: 4rem;
    }

    #footer-items{
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.5rem 4%;

    }

    footer img{
        margin-top: -.1rem;
    }
}

@media screen and (max-width: 670px) {
    .dishes{
        display: flex;
        flex-direction: column;
    }

    .dish{
        width: 100%;
    }

    .feedback{
        flex-direction: column;
        border-radius: 20px;
        padding: 1rem;
    }

    .feedback-content p{
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        gap: .5rem;
        text-align: center;
        margin-top: -1rem;
    }

    .feedback-content p span{
        margin-bottom: 2rem;
    } 

    #testimonials-content{
        width: 100%;
    }
}

/* fim responsivo */